.finder {
  display: flex;
  margin-top: 4%;
  padding-top: 1%;
  padding-bottom: .1%;
}

.input {
  margin-left: 5%;
}

.form {
  margin-bottom: 3%;
}

.filter {
  border-right: 1px solid black;
  padding: 1%;
  padding-right: 3%;
}


.cards {
  display:flex;
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding-left: 3%;
  transition: 0.3s;
  border: 5ch;
}