.login {
  background: url('../../images//bg-large.jpg') no-repeat center 30% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
  padding: 50px;
  border: 1px solid blue;
  background-color: #343A40;
  opacity: .8;
  width: 50%;
  color: white;
}

.login Form {
  width: 100%;
  margin: auto;
}

.btn-parent {
  display: flex;
  justify-content: space-between;
}

.btn-child {
  display:flex;
  align-items: center;
}